<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51387031721-56nh76luikh2kq7vbpfbala7n3t75dn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51387031721-56nh76luikh2kq7vbpfbala7n3t75dn2</string>
	<key>API_KEY</key>
	<string>AIzaSyA4L3gcimgKOpyObnTpMsELY7OPDJ2lHPk</string>
	<key>GCM_SENDER_ID</key>
	<string>51387031721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dvczr.PiOS</string>
	<key>PROJECT_ID</key>
	<string>pios-cc77e</string>
	<key>STORAGE_BUCKET</key>
	<string>pios-cc77e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51387031721:ios:d786644919a2e866e249b8</string>
</dict>
</plist>